body {
    color: #fff;
    background: linear-gradient(135deg, #00ffe7, #1a1a1a) !important;

}

.message{
    padding: 10px;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    background-color: #333;
    color: #e5e5e5;
    box-shadow: 2px 2px 3px grey;
    width: 90%;
    line-height: 1.5;
    letter-spacing: 1px;
}
.crucial{
    background: linear-gradient(45deg, #c90000, #8b0000);;
}

.icons{
    width: 40px;
    height: 40px;
    padding: 0px;
}

.date{
    font-size: 13px;
    color: #eee;
    text-shadow: 1px 1px 3px black;
    align-self: end;
}